<!-- navbar.html -->
<div id="navBar">
    <img id="gameIcon" src="{{ url_for('static', filename='img/game_icon.png') }}" alt="Game Icon">
    <h1 class="navTitle">235GAME</h1>
    <h2 class="navTitle"><a href="{{ url_for('home.home') }}">Home</a></h2>
    <h2 class="navTitle"><a href="{{ url_for('games_bp.game') }}">All Games</a></h2>
    <h2 class="navTitle"><a href="{{ url_for('user_profile.user_profile') }}">User Profile</a></h2>
    <h2 class="navTitle"><a href="{{ url_for('add_thread_bp.add_thread') }}">Add Thread</a></h2>
    <div id="login">
        {% include 'loginstatus.html' %}
    </div>
</div>


<div id="nav2">
    <form action="{{ url_for('search.search') }}" method="get">
        <select name="tag" class="selectBar">
            <option value="">All Tags</option>
            {% for tag in all_tags %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
        <select name="Type" class="selectBar">
            <option value="">Title</option>
            <option value="">Contain</option>
        </select>
        <input id="searchBar1" type="text" name="query" placeholder="Enter game name">
        <button id="searchBar2" type="submit">Search</button>
    </form>
</div>
