<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <script src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<body>
{% include 'navbar.html' %}

<div id="userInfo">
    <h1 id="profileTitle">Welcome, {{ user.username }}</h1>
    <h1 id="Email">Email:{{ user.email }}</h1>
</div>
<div id="profileNav">
    <span class="selectionTab" style="cursor: pointer;" onclick="showWishlist();">Favorites</span>
    <span class="selectionTab" style="cursor: pointer;" onclick="showReviews();">Reviews & Ratings</span>
</div>
<div id="baseline"></div>

<div id="wishlist">
    {% for thread in favorites %}
    <div class="threadItem">
        <div id="wishlistLeftPart">
            <img src="{{ thread.image_url }}">
            <div class="textPart">
                <a href="{{ url_for('thread_description_bp.thread_description', thread_id=thread.id) }}">{{ thread.thread_title }}</a>
                <h4 class="wishlistContent">RELEASE DATE: {{ thread.release_date }}</h4>
            </div>
        </div>
        <a href="{{ url_for('wishlist.remove', thread_title=thread.title) }}" class="remove-button">Remove from Favorites</a>
    </div>
    {% endfor %}
</div>

<div id="displayReview2">
    {% for review in reviews %}
    <div class="profileReview">
            <div id="reviewContentPart">
                <h2 id="reviewContent">Title:{{ review.thread.thread_title }} </h2>
                <div id="baseline2"></div>
                <h4>{{ review.comment }} </h4>
            </div>
            <h2 id="ratingArea">⭐️Rating: {{ review.rating }}</h2>
    </div>
    {% endfor %}
</div>

<div id="footer">
    <h6>©️Paul/Kevin/Tong</h6>
</div>
</body>
</html>
