<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Create a New Thread</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
  </head>
  <body>
    {% include 'navbar.html' %}

    <div id="registrationFrame">
      <div id="registrationContent">
        <h1 class="registerTitle">Create a New Thread</h1>

        <form method="POST" action="{{ url_for('add_thread_bp.add_thread') }}">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.thread_title.label }}<br>
            {{ form.thread_title(class_='form-control') }}
            {% if form.thread_title.errors %}
            <ul>
              {% for error in form.thread_title.errors %}
              <li class="error">{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.thread_content.label }}<br>
            {{ form.thread_content(class_='form-control') }}
            {% if form.thread_content.errors %}
            <ul>
              {% for error in form.thread_content.errors %}
              <li class="error">{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.thread_tag.label }}<br>
            {{ form.thread_tag(class_='form-control') }}
            {% if form.thread_tag.errors %}
            <div class="alert alert-danger">
              <ul>
                {% for error in form.thread_tag.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>

          <div>
            {{ form.submit(class_='btn btn-primary') }}
          </div>
        </form>
      </div>
    </div>

  </body>
</html>
