<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
</head>
<body>
{% include 'navbar.html' %}
<div id="loginFrame">
    <div id="loginContent">
        {% block content %}
        <h1 class="loginTitle">CompanyLogin</h1>
        <form class="loginInput" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.company_name.label }}<br>
                {{ form.company_name(type="text") }}
                {% if form.company_name.errors %}
                    <p class="error">{{ form.company_name.errors[0] }}</p>
                {% endif %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password() }}
                {% if form.password.errors %}
                    <p class="error">{{ form.password.errors[0] }}</p>
                {% endif %}
            </div>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
            <div>
                {{ form.submit() }}
            </div>
        </form>
        <div class="register-link">
            <p>Don't have a company account? <a href="{{ url_for('company.company_register') }}">Register here</a></p>
        </div>
        {% endblock %}
    </div>
    <div id="timo">
        <img src="{{ url_for('static', filename='datalink.png') }}" alt="Login Image">
    </div>
</div>

</body>
</html>
