<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
{% include 'navbar.html' %}
<div id="loginFrame">
    <div id="loginContent">
        {% block content %}
        <h1 class="loginTitle">Login</h1>
        <form class="loginInput" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}<br>
                {{ form.username() }}
                {% if form.username.errors %}
                    <p class="error">{{ form.username.errors[0] }}</p>
                {% endif %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password() }}
                {% if form.password.errors %}
                    <p class="error">{{ form.password.errors[0] }}</p>
                {% endif %}
            </div>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
            <div>
                {{ form.submit() }}
            </div>
        </form>
        {% endblock %}
    </div>
    <div id="timo">
        <img src="{{ url_for('static', filename='img/login.png') }}" alt="Login Image">
    </div>
</div>

</body>
</html>
