<!-- wishlist.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Favorites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div id="content">
        <h1>Your Favorite Threads</h1>
        {% if favorites %}
            <ul>
                {% for thread in favorites %}
                    <li>
                        <a href="{{ url_for('thread_description_bp.thread_description', title=thread.title) }}">{{ thread.title }}</a>
                        <a href="{{ url_for('wishlist.remove', thread_title=thread.title) }}" class="remove-button">Remove</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no favorite threads yet.</p>
        {% endif %}
    </div>
</body>
</html>
